# Problem 19 - Counting Sundays
You are given the following information, but you may prefer to do some research for yourself.

1 Jan 1900 was a Monday.

Thirty days has September,
April, June and November.
All the rest have thirty-one,

Saving February alone,
Which has twenty-eight, rain or shine.
And on leap years, twenty-nine.

A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.

How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [139]:
import calendar

In [140]:
'''2x'''
print(calendar.calendar(1900,2,1,6))

                                  1900

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [141]:
'''2x'''
print(calendar.calendar(2000,2,1,6))

                                  2000

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6             1  2  3  4  5
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       6  7  8  9 10 11 12
10 11 12 13 14 15 16      14 15 16 17 18 19 20      13 14 15 16 17 18 19
17 18 19 20 21 22 23      21 22 23 24 25 26 27      20 21 22 23 24 25 26
24 25 26 27 28 29 30      28 29                     27 28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [181]:
class Date(object):
    
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    def __init__(self, weekday, day, month, year):
        self.weekday = weekday
        self.day = day
        self.month = month
        self.year = year
    
    def getDay(self):
        if day < 1 or day > 31:
            raise ValueError('Day of month must be an integer in: 1 thru 31.')
        else:
            return self.day
        
    def getWeekday(self):
        return self.weekday
    
    def getMonth(self):
        if month < 1 or month > 12:
            raise ValueError('Month must be an integer in: 1 thru 12.')
        else:
            return self.month
    
    def getYear(self):
        if year < 1900 or year > 2000:
            raise ValueError('Year must be an integer in: 1900 thru 2000.')
        else:
            return self.year
    
    def __str__(self):
        return str(self.weekday) + ': ' + str(self.month) + ' ' + str(self.day) + ' ' + str(self.year)
    
    def __tuple__(self):
        return tuple((self.weekday, self.day))

def SpecialSunday(Date):
    if day == 1 and weekday == 'SUN':
        return True

def leapYear(year):
    if year == 1900:
        return False
    if year % 4 == 0:
        return True
    else:
        return False

In [182]:
weekdays = {0: 'None',
           1: 'Sunday',
           2: 'Monday',
           3: 'Tuesday',
           4: 'Wednesday',
           5: 'Thursday',
           6: 'Friday',
           7: 'Saturday'}

months = {0: 'None',
         1: 'January', 
         2: 'February', 
         3: 'March', 
         4: 'April', 
         5: 'May',
         6: 'June', 
         7: 'July', 
         8: 'August', 
         9: 'September',
         10: 'October',
         11: 'November',
         12: 'December'}

In [194]:
years = []
for i in range(1900,2001,1):
    years.append(i)

In [204]:
i = 0
weekday = 2
day = 1
month = 1
year = 0

Today = Date(weekday = weekdays[weekday], day = 1 + i, month = months[month], year = years[year]).__str__()

LastDay = Date(weekday = weekdays[1], day = 31, month = months[12], year = years[-1]).__str__()

In [205]:
Today

'Monday: January 1 1900'

In [206]:
LastDay

'Sunday: December 31 2000'

In [184]:
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]